

/* Spinner */
.spinner {
display: flex;
background-color: black;
width: 10%;
border-radius: 10px;

}
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* Typing Text Animation */
.type-text {
  font-family: 'Courier New', Courier, monospace;
  font-size: 24px;
  color:blue;
  border-right: 1px solid;
   white-space: nowrap;
  overflow: hidden;
  width: 20ch;
  animation: typing 4s steps(30, end) forwards, blink-caret 0.9s step-end infinite alternate;
}
@keyframes typing {
  from { width: 0; }
  to { width:55%; }
}
@keyframes blink-caret {
  from, to { 
       border-color: transparent; }
  50% { border-color: brown;}}

  /* Flipping card */
.flip-card {
  background-color: transparent;
  width: 300px;
    height: 200px;
  /* perspective: 1000px; Remove this if you don't want the 3D effect */
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.flip-card-front {
  background-color: #bbb;
  color: black;
}
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}
